//main: ../style.less

.arrivals {
    margin-bottom: 15rem;
    
    @media @laptop-2 {
        margin-bottom: 6rem;
    }
}

.arrivals__title {
    position: relative;
    
    margin-top: 9rem;
    margin-bottom: 8rem;
    
    font-size: 4.8rem;
    line-height: 1;
    font-weight: 900;
    color: @black;
    
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 17rem;
        bottom: -1rem;

        width: 19rem;
        height: 4rem;

        background-color: @yellow;
        border-radius: 59% 41% 100% 0% / 100% 19% 81% 0% ;
        pointer-events: none;
        
        @media @laptop-2 {
            left: 50%;
        }
    }
    
    @media @laptop-2 {
        margin-bottom: 6rem; 
        
        font-size: 4.4rem;
        
        text-align: center;
    }
}
















