//main: ../style.less

.intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 60rem;
    margin-bottom: 5.5rem;
    
    background: #F4F6F5 url("../images/intro/background.jpg") center no-repeat;
    background-size: cover;
    
    @media @laptop-2 {
        align-items: center;
        min-height: 0;
        margin-bottom: 3.5rem;
        
        text-align: center;
    }
}

.intro__content {
    width: 50%;
    margin: 8rem 0 8rem 12rem;
    
    @media @laptop-1 {
        margin: 6rem 2rem 6rem 9rem;
    }
    
    @media @laptop-2 {
        width: 90%;
        margin: 3rem auto;
    }
}

.intro__title {
    margin-bottom: 2rem;
    
    font-size: 9.6rem;
    font-weight: 900;
    line-height: 1.25;
    color: @black;
    text-transform: uppercase;
    
    @media @laptop-1 {
        font-size: 7rem;
    }
    
    @media @laptop-2 {
        font-size: 5rem;
    }
}

.intro__title-bg1 {
    position: absolute;
    z-index: 1;
    
    &:before {
        content: "";
        position: absolute;
        left: -5rem;
        z-index: -1;
        
        width: 46rem;
        height: 11rem;
        
        background-color: @white;
        
        transform: rotateZ(-2deg);
        
        @media @laptop-1 {
            top: 1rem;
            left: -3rem;
            
            width: 27rem;
            height: 6rem;
        }
        
        @media @laptop-2 {
            display: none;
        }
    }
    
    @media @laptop-2 {
        position: static;
    }
}

.intro__title-bg2 {
    position: absolute;
    z-index: 1;
    
    &:before {
        content: "";
        position: absolute;
        top: -.6rem;
        left: -5rem;
        z-index: -1;
        
        width: 50rem;
        height: 12rem;
        
        background-color: @yellow;
        
        transform: rotateZ(-2deg);
        
        @media @laptop-1 {
            left: -3rem;
            top: 0;
            
            width: 33rem;
            height: 8rem;
        }
        
        @media @laptop-2 {
            display: none;
        }
    }
    
    @media @laptop-2 {
        position: static;
    }
}

.intro__decription {
    margin-bottom: 3rem;
    
    font-size: 3.2rem;
    font-weight: 400;
    color: @secondary;
}

.intro__img {
    width: 50%;
    margin-top: auto;
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    @media @laptop-1 {
        margin: auto;
    }
    
    @media @laptop-2 {
        display: none;
    }
}