//main: ../style.less

.sale {
    height: 96.8rem;
    
    background: url("../images/sale/sale.jpg");
    background-repeat: no-repeat;
}

.sale__content {
    width: 50%;
    margin-left: auto;
    
    background: linear-gradient(to bottom, #F9DF56, #E0C340);
}