//main: ../style.less

.sale {
    //height: 96.8rem;
    height: auto;
    margin-bottom: 19rem;
    
    //overflow: hidden;
}

.sale__content {
    display: flex;
    flex-wrap: wrap;
    
    background: linear-gradient(to bottom, #F9DF56, #E0C340);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sale__img {
    width: 50%;
    height: auto;
    
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.sale__title {
    position: relative;
    
    margin-bottom: 3rem;
    
    font-size: 12rem;
    line-height: 1.23;
    color: @black;
    text-transform: uppercase;
}

.sale__title-bg1 {
    position: absolute;
    z-index: 1;
    
    &:before {
        content: "";
        position: absolute;
        left: -2rem;
        bottom: 2rem;
        z-index: -1;
        
        width: 54rem;
        height: 13rem;
        
        background-color: @white;
        
        transform: rotateZ(-2deg);
    }
}

.sale__inner {
    width: 50%;
    padding: 10rem 0 0 8rem;
}

.sale__info {
    max-width: 67rem;
}

.sale__text {
    margin-bottom: 4rem;
    
    font-size: 3.3rem;
    line-height: 1.44;
    font-weight: 500;
    color: @primary;
}

.sale__date {
    margin-bottom: 1rem;
    
    font-size: 3.6rem;
    line-height: 1.44;
    font-weight: 700;
    color: @black;
}

.sale__note {
    margin-bottom: 5rem;
    
    font-size: 3.3rem;
    line-height: 1.44;
    font-weight: 400;
    color: @black;
}










