//main: ../style.less

.brands {
    margin-top: 7rem;
    margin-bottom: 7rem;
    
    background-color: @yellow;
    
    @media @laptop-1 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.brands__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 18.6rem;
}

.brands__item {
    text-align: center;
    
    @media @laptop-1 {
        width: 30%;
    }
    
    @media @laptop-2 {
        width: 50%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    @media @tablet-1 {
        width: 100%;
    }
}

.brands__logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
